html, body {
  color: #333;
 background: $bg-color-grey;
 
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,miui,Hiragino Sans GB,Microsoft Yahei,sans-serif;
}
html, body, #app {
  height: 100%;
}

page {
  min-height: 100%;
  background-color: #f9fafb;
}