@font-face {
  font-family: "iconfont"; /* Project id 4818028 */
  src: url('iconfont.woff2?t=1737698726031') format('woff2'),
       url('iconfont.woff?t=1737698726031') format('woff'),
       url('iconfont.ttf?t=1737698726031') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e607";
}

