.flex_between_center {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.checkbox {
		position: relative;
		margin-left: 10rpx;
		margin-right: 0px;
		.color {
			color: #00aaff;
			background-color: #00aaff;
		}
		.txt {
			font-size: 44rpx;
			width: 100%;
			height: 100%;
			display: flex;
		}
	}
	.checkBorder {
		border: 1px solid #ecdee4;
	}
	.header {
		width: 100%;
		position: fixed;
		background-color: #fff;
		z-index: 9999;
		.title {
			height: 90rpx;
			padding: 0 32rpx;
			line-height: 90rpx;
			font-size: 30rpx;
			background-color: #f5f5f5;
			color: #606064;
		}
	}
	.iconclass {
		display: inline-block;
		margin: 0 12rpx;
		color: #D0D4DB;
		font-size: 28rpx;
	}
	.container-list {
		overflow-y: scroll;
		overflow-x: hidden;
		padding-bottom: 160rpx;
		padding-top: 200rpx;
		.common {
			background-color: #fff;
			border-bottom: 1rpx solid #f4f4f4;
			padding-left: 10rpx;
			.content {
				display: flex;
				align-items: center;
				height: 60rpx;
				width: 100%;
				padding: 15rpx 0;
				position: relative;
				font-size: 32rpx;
				.lable-text{
					margin-left: 16rpx;
					font-size: 30rpx;
					color: #5b5757;
					width: 500rpx;
					word-break: break-all;
					display: -webkit-box;        /* 设为弹性盒子 */
					-webkit-box-orient: vertical; /* 设置为垂直方向排列 */
					overflow: hidden;            /* 超出部分隐藏 */
					text-overflow: ellipsis;     /* 显示省略号 */
					line-clamp: 2;               /* 限制显示的行数为2 */
					-webkit-line-clamp: 2;       /* 兼容性写法 */
				}
				.right {
					position: absolute;
					right: 30rpx;
					color: #babdc3;
					font-size: 32rpx;
				}
			}
		}
	}
	.active {
		color: #4297ED !important;
	}
	.none {
		color: #666666;
	}
	.icon-selected{
		color: #0095F2!important;
		font-size: 40rpx!important;
	}
	.icons{
		color: #0095F2!important;
		font-size: 40rpx!important;
	}
	.inline-item {
		display: inline-block;
		uni-text{
			white-space:nowrap;
		}
	}
	
	.content-item{
		display: flex;
		position: relative;
		align-items: center;
	}
	
	.box_sizing {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.btn {
		position: fixed;
		bottom: 0;
		padding: 10px;
		background-color: #fff;
		width: 100%;
	
		.sureBtn {
			background-color: #4d80f0;
			color: #fff;
			border-radius: 999px;
		}
	}