spring:
  application:
    name: @artifactId@
  profiles:
    active: prod
management:
  endpoints:
    web:
      exposure:
        include: "*"
websocket:
  period: 20 #websocket发送消息间隙（单位:s）
restTemplate:
  timeOut: 7 #超时时间7s