$title-size: 40rpx;
$title-color: #bd34fe;

/* 行为相关颜色 */
$color-primary: #4d80f0;
$color-success: #34d19d;
$color-warning: #f0883a;
$color-error: #fa4350;

/* 背景颜色 */
$bg-color: #ffffff;
$bg-color-grey: #f6f7fb;

/* card styles */
$card-bg-color: #fff;
$card-pd: 20rpx;
$card-mg: 20rpx;

/* Border Radius */
$border-radius-sm: 4rpx;
$border-radius-base: 6rpx;
$border-radius-lg: 16rpx;
$border-radius-circle: 50%;
